@model CompanyASP.Models.Employee

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Удалить</h2>

<h3>Вы действительно хотите удлаить этого сотрудника?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>ФИО сотрудника</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
            <label>Зарплата</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt>
            <label>Возраст</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt>
            <label>Рейтинг</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Raiting)
        </dd>
        <dt>
            <label>Отдел</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Departament.FullName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="Index">Вернуться назад</a>
    </form>
</div>
