@using CompanyASP.ViewModel.SortDepartamentFact
@model IndexDepartamentViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    @@font-face {
        font-family: 'FontAwesome';
        src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff') format('woff'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal
    }

    .glyphicon {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }

    .glyphicon-chevron-right:before {
        content: "\f054";
    }

    .glyphicon-chevron-left:before {
        content: "\f053";
    }
</style>

<h2>Фактические показатели отделов компании</h2>


<form method="get">
    <div class="form-inline">
        <label>Отдел</label>
        @Html.DropDownList("nameDepartament", Model.FilterDepartamentFactViewModel.Departaments as SelectList,
                                                            htmlAttributes: new { @class = "form-control" });
        <label>Квартал</label>
        <input name="quarter" value="@Model.FilterDepartamentFactViewModel.SelectQuarter" class="form-control" />

        <label>Год</label>
        <input name="year" value="@Model.FilterDepartamentFactViewModel.SelectYear" class="form-control" />

        <input type="submit" value="Фильтр" class="btn btn-outline-dark" />
    </div>
</form>

<p>
    <a asp-action="Create">Создать новый показатель</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th align="center">
                <label>Код показателя</label>
            </th>
            <th align="center">
                <label>Квартал</label>
            </th>
            <th align="center">
                <label>Год</label>
            </th>
            <th align="center">
                <label>Годовой показатель эффективности</label>
            </th>
            <th align="center">
                <label>Квартальный показатель эффективности</label>
            </th>
            <th align="center">
                <label>Подразделение</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DepartamentValuationFacts)
        {
            <tr>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.Quarter)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.PerfomanceYear)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.PerfomanceQuarter)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.Departament.FullName)
                </td>
                <td width="300">
                    <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Подробно</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-nameDepartament ="@Model.FilterDepartamentFactViewModel.SelectDepartamentName"
       asp-route-quarter="@Model.FilterDepartamentFactViewModel.SelectQuarter"
       asp-route-year="@Model.FilterDepartamentFactViewModel.SelectYear"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       asp-route-nameDepartament ="@Model.FilterDepartamentFactViewModel.SelectDepartamentName"
       asp-route-quarter="@Model.FilterDepartamentFactViewModel.SelectQuarter"
       asp-route-year="@Model.FilterDepartamentFactViewModel.SelectYear"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}

